@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --bg-card:#eff0f0;
    --clr-violet: #4927ec;
    --clr-gray-price:#323639;
    --clr-gray-time: #aeb1b2;
    --clr-gray-btn:  #d6d7d7;

    --clr-black: #000 ;
    --clr-white: #fff ;
}

* , ::before , ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/* Pricing Section */
.pricing {
    padding: 50px 20px;
}
/* ChangeTime Section */
.changeTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 5px;
    gap: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1px;
    border: 2px solid #d6d7d7;
    border: 2px solid var(--clr-gray-btn , #d6d7d7);
    background-color: #eff0f0;
    background-color: var(--bg-card , #eff0f0);
}

.change-time__link {
   display: block;
   text-decoration: none;
   padding: 12px 0;
   width: 80px;
   text-align: center;
   border-radius: 25px;
   font-size: .8rem;
   color: #000;
   color: var(--clr-black , #000);
}

.changeTime__monthly {
    background-color: #4927ec;
    background-color: var(--clr-violet ,#4927ec);
    color: #fff;
    color: var(--clr-white);
    
}
/* Cards Section */
.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 15px;
    gap: 15px;
    margin-top: 20px;
}
/* Card Section */
.card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 15px 60px 15px 170px 15px auto;
    grid-template-rows: auto 60px 170px auto;
        grid-template-areas: 
    "card__title"
    "cardPrice"
    "cardList"
    "card__signUp";
    grid-gap: 15px;
    gap: 15px;
    padding: 20px ;
    border-radius: 15px;
    background-color: #eff0f0;
    background-color: var(--bg-card , #eff0f0);
    cursor: pointer;
}

.card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    border: 2px solid #4927ec;
    border: 2px solid var(--clr-violet ,#4927ec) ;
    -webkit-transition: .1s;
    transition: .1s;
}

.card--2 {
    border: 2px solid #4927ec;
    border: 2px solid var(--clr-violet ,#4927ec) ;
}

.cardTitle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card__popular {
    display: block;
    padding: 5px 10px;
    font-size: .85rem;
    border-radius: 3px;
    color: #fff;
    color: var(--clr-white , #fff);
    background-color: #323639;
    background-color: var(--clr-gray-price , #323639);
}

.card__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: card__title;
    margin: 0;
    font-size: 1.25rem;
}
/* CardPrice Section */
.cardPrice {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-row: 3;
    grid-column: 1;
    grid-area: cardPrice;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cardPrice__price {
    margin-right: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #323639;
    color: var(--clr-gray-price , #323639);
}

#cardPricePro.active {
    background-color: red;
}

.cardPrice__time {
    margin-bottom: 3px;
    color: #aeb1b2;
    color: var(--clr-gray-time , #aeb1b2);
}
/* CardList Section */
.cardList {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-row: 5;
    grid-column: 1;
    grid-area: cardList;
    margin: 0;
    padding-left: 0px;
}

.cardList__item {
    margin-bottom: 10px;
    list-style: none;
}
/* Card__signUp Section */
.card__signUp {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-row: 7;
    grid-column: 1;
    grid-area: card__signUp;
    display: block;
    text-align: center;
    padding: 5px 0;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    border: 1px solid #d6d7d7;
    border: 1px solid var(--clr-gray-btn , #d6d7d7);
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px #d6d7d7;
            box-shadow: 0px 1px #d6d7d7;
    -webkit-box-shadow: 0px 1px var(--clr-gray-btn , #d6d7d7);
            box-shadow: 0px 1px var(--clr-gray-btn , #d6d7d7);
    color: #000;
    color: var(--clr-black , #000);
    background-color: #fff;
    background-color: var(--clr-white , #fff);
}

.card__signUp--bg {
    color: #fff;
    color: var(--clr-white , #fff);
    background-color: #4927ec;
    background-color: var(--clr-violet ,#4927ec) ;
}
/* Media Screen Section */
@media screen and (min-width:768px) {
    .cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .card {
        -ms-grid-columns: 225px;
        grid-template-columns: 225px;
    }

    .card__title {
        font-size: 1.75rem;
    }

    .cardPrice__price {
        font-size: 3.5rem;
    }

}
